GATSBY_SANITY_PROJECT_ID="<#< sanity.projectId >#>"
GATSBY_SANITY_DATASET="<#< sanity.dataset >#>"

# Copy this file to .env.development for local development.
# Note: After copying DO NOT commit this file to git!
SANITY_READ_TOKEN=""
